In [2]:
import pandas as pd
import numpy as np
from math import sqrt

In [25]:
movie_data = pd.read_csv("Data\movies.csv")
movie_data.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [26]:
movie_data["year"] = movie_data['title'].str.extract('(\(\d\d\d\d\))', expand=False)
movie_data["year"] = movie_data['year'].str.extract('(\d\d\d\d)', expand=False)
movie_data['title'] = movie_data.title.str.replace('(\(\d\d\d\d\))', '')
#movie_data['title'] = movie_data['title'].apply(lambda x: x.strip())
movie_data['title'] = movie_data.title.str.strip()
movie_data.head()

C:\Users\js\AppData\Local\Temp\ipykernel_7260\1324017138.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  movie_data['title'] = movie_data.title.str.replace('(\(\d\d\d\d\))', '')

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

In [27]:
movie_data['genres'] = movie_data.genres.str.split('|')
movie_data.head()

,movieId,title,genres,year
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995
2,3,Grumpier Old Men,"[Comedy, Romance]",1995
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995
4,5,Father of the Bride Part II,[Comedy],1995

In [29]:
movie_genres = movie_data.copy()

for index, row in movie_data.iterrows():
    for genre in row['genres']:
        movie_genres.at[index, genre] = 1

movie_genres.head()

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995,1.0,NaN,1.0,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Grumpier Old Men,"[Comedy, Romance]",1995,NaN,NaN,NaN,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995,NaN,NaN,NaN,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Father of the Bride Part II,[Comedy],1995,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
movie_genres = movie_genres.fillna(0)
movie_genres.head()

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men,"[Comedy, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II,[Comedy],1995,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
userInput = [
            {'title':'Batman: The Dark Knight Returns, Part 1', 'rating':5},
            {'title':'3 Idiots', 'rating':5},
            {'title':'Rockstar', 'rating':3.5},
            {'title':'Toy Story', 'rating':2},
            {'title':"Iron Man", 'rating':5},
            {'title':"Pirates of the Caribbean: At World's End", 'rating':4.5}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

                                      title  rating
0   Batman: The Dark Knight Returns, Part 1     5.0
1                                  3 Idiots     5.0
2                                  Rockstar     3.5
3                                 Toy Story     2.0
4                                  Iron Man     5.0
5  Pirates of the Caribbean: At World's End     4.5

In [39]:
input_movieid = movie_data[movie_data['title'].isin(inputMovies['title'].tolist())]

inputMovies = pd.merge(input_movieid, inputMovies)
inputMovies

,movieId,title,genres,year,rating
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,2.0
1,53125,Pirates of the Caribbean: At World's End,"[Action, Adventure, Comedy, Fantasy]",2007,4.5
2,59315,Iron Man,"[Action, Adventure, Sci-Fi]",2008,5.0
3,73881,3 Idiots,"[Comedy, Drama, Romance]",2009,5.0
4,98124,"Batman: The Dark Knight Returns, Part 1","[Action, Animation, Sci-Fi]",2012,5.0
5,135601,Rockstar,"[Drama, Romance]",2011,3.5

In [40]:
inputMovies = inputMovies.drop(['genres', 'year'], axis = 1)
inputMovies

   movieId                                     title  rating
0        1                                 Toy Story     2.0
1    53125  Pirates of the Caribbean: At World's End     4.5
2    59315                                  Iron Man     5.0
3    73881                                  3 Idiots     5.0
4    98124   Batman: The Dark Knight Returns, Part 1     5.0
5   135601                                  Rockstar     3.5

In [41]:
# filtering out the movie from main data

user_movie = movie_genres[movie_genres['movieId'].isin(inputMovies['movieId'].tolist())]
user_movie

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11885,53125,Pirates of the Caribbean: At World's End,"[Action, Adventure, Comedy, Fantasy]",2007,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12646,59315,Iron Man,"[Action, Adventure, Sci-Fi]",2008,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14801,73881,3 Idiots,"[Comedy, Drama, Romance]",2009,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19930,98124,"Batman: The Dark Knight Returns, Part 1","[Action, Animation, Sci-Fi]",2012,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29705,135601,Rockstar,"[Drama, Romance]",2011,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [1]:
# resetting index to avoid future issues
#user_movie = user_movie.reset_index(drop=True)
#user_movie = user_movie.drop(['genres', 'year'], axis=1)
#user_movie

NameError: name 'user_movie' is not defined